

main {
	background-color: var(--areia);
	font-family: 'Urbanist'; 
}


h1, h2, h3, h4, h5, h6, p {
	color:var(--azul-escuro);
	font-size: medium;
}

h1 {
	font-family: 'Dosis';
	font-size: large; 
  }

.container {
	max-width: 100%;
    height: 100vh;
	margin: 0 auto;
	border: 1px solid #ccc;
	display: flex; /* ativa o display flex*/
	flex-direction: row; /* propriedade de alinhamento padrão e row*/
	flex-wrap: wrap; /* quando o tamnho passa o que o navegador deve fazer quando não tem espaço: flex-flow: */
	justify-content: flex-start; /*Alinhamento depende da direção, centralizar meio da linha ou meio da coluna */
	/*align-items: flex-start ;  alinha a direção oposta ao flex direction */
}

.projetos-experiencia {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.topicos-projetos {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.sessao {
	margin: 10px 15px;
	text-align: center;
}

.sessao-topicos{
    margin: 5px;
	text-align: center;
    display: flex;
}

.item-apresentacao {
	margin: 5px;
}


.item-topicos {
	text-align: center;
	font-size: 1.5em;
    flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


